<h1>Create a post</h1>

<form action="/posts" method="POST">
  <label>
    Name
    <input type="text" name="name">
  </label>

  <label>
    Content
    <textarea name="content"></textarea>
  </label>
  <input type="submit" value="submit">
</form>
