<form class="" action="/posts" method="post">
  <label for="name">Name</label><br>
  <input id="name" type="text" name="post[name]" value=""><br>
  <label for="content">Content</label><br>
  <input id="content" type="text" name="post[content]" value=""><br>
  <input type="submit" id="submit">
</form>
